head
	script(type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js")
	script(type="text/javascript" src="../scripts/ajaxPage.js")
body
	section.wrap
		a(class="close" href="#close")
		h1 Покупайте воду оптом
		ul
			li
				img(src="../img/precent.png")
				div.text.
					Постоянным покупателям компания #[br]
					предлагает гибкую систему скидок.
			li
				img(src="../img/call.png")
				div.text.
					Уточните цену и условия услуги у нашего менеджера #[br]
					по телефону #[b 8 (863) 204-26-68]
