head
	script(type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js")
	script(type="text/javascript" src="../scripts/ajaxPage.js")
body
	section.wrap
		a(class="close" href="#close")
		h1 Станьте нашим постоянным покупателем
		ul
			li
				img(src="../img/precent.png")
				div.text.
					Постоянным покупателям компания #[br]
					предлагает гибкую систему скидок.
			li
				img(src="../img/trail.png")
				div.text
					h2.
						Также компания «Акватика» предлагает всем нашим
						клиентам услугу «Доставка по графику».
				div.more-text.
					При заключении договора на поставку воды, вы указываете конкретные 
					дни недели или месяца, в которые вам будет осуществляться доставка. 
					В течении действия договора мы поставляем вам воду в указанные дни 
					без дополнительных звонков и напоминаний с вашей стороны.
			li
				img(src="../img/call.png")
				div.text.
					Уточните цену и условия услуги у нашего менеджера #[br]
					по телефону #[b 8 (863) 204-26-68]
