head
	script(type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js")
	script(type="text/javascript" src="../scripts/ajaxPage.js")
body
	section.wrap.contacts
		a(class="close" href="#close")
		h1 Контакты
		div.ajaxContent
			div.map
				img(src="../img/map.png")
			div.text
				p.
					344012, г. Ростов-на-Дону #[br]
					ул. Павленко, 15, офис 4А (завод РТИ)
				p Тел.: 8 (863) 204-26-68, 266-1004
				p Факс: 8 (863) 232-14-39, 232-14-59
				a(href="mailto:ooo.akvatika@yandex.ru") ooo.akvatika@yandex.ru
				
				h2 Режим работы
				p.
					Понедельник – Пятница с 8:00 до 20:00,
					суббота с 8:00 до 14:00 без перерыва,
					Воскресенье — выходной
					
				h2 Доставка по Ростову-на-Дону и Аксаю
