doctype
html(lang="ru")
	head
		title 19л
		meta(charset="utf-8")
		meta(name="viewport",content-width="width=device-width")
		meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
		meta(name="description" content="")
		meta(name="keywords" content="")
		meta(name="viewport" content="width=device-width, initial-scale=1")
	body
		wrapper
			header
				div.column: img(src="../img/logo.jpg")
				div.column
					p Доставка по Ростову-на-Дону и области
					a(href="tel:8 (863) 204-26-68") 8 (863) 204-26-68
				div.column
					nav.menu
						li: a(href="#") Заказать
						li: a(href="#") Производство
						li: a(href="#") Контакты
			main.content
				section.catalog-slide
					ul
						li
							p Негазированная минеральная природная столовая вода
							h1 «Серебряная «Усть-Быстра»
							div.column
								ul.blocks
									li Доставка напрямую от производителя
									li Доставка по графику
								ul.advent-list
									li Содержит природные ионы йода и серебра.
									li. 
										Очищаем воду без обратного осмоса, 
										сохраняя все природные элементы, полезные для человека.
									li. 
										Скважина расположена
										в заповедной зоне Ростовской области.
							div.column
								img(src="../img/boutle1.png")
								span.price 120 &#8381;
								div.birk
									span.
										Негазированная минеральная
										природная столовая вода
									p «Серебряная «Усть-Быстра»
						li
							p Негазированная минеральная природная столовая вода
							h1 «Горная Серебряная»
							div.column
								img(src="../img/boutle2.png")
								span.price 160 &#8381;
								div.birk
									span Негазированная минеральная природная столовая вода
									p «Горная Серебряная»
							div.column
								ul.blocks
									li Доставка напрямую от производителя
									li Доставка по графику
								ul.advent-list
									li. 
										Относится к водам гидрокарбонатного натриево-кальциевого состава
										и полезна для взрослы и детей.
									li. 
										Очищаем воду без обратного осмоса, 
										сохраняя все природные элементы, полезные для человека.
									li. 
										Скважина расположена с биосферным заповедником 
										в Карачаево-Черкесской Республике.
			footer
		
