doctype
html(lang="ru")
	head
		title 19л
		meta(charset="utf-8")
		meta(name="viewport",content-width="width=device-width")
		meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
		meta(name="description" content="")
		meta(name="keywords" content="")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" type="text/css" href="../bower_components/slick-carousel/slick/slick.css")
		link(rel="stylesheet" type="text/css" href="../bower_components/fancyBox/source/jquery.fancybox.css")
		link(rel="stylesheet" type="text/css" href="../bower_components/jquery-ui/themes/ui-lightness/jquery-ui.min.css")
		link(rel="stylesheet" type="text/css" href="../bower_components/animate.css/animate.min.css")
		link(rel="stylesheet" type="text/css" href="../styles/build/build.css")
		script(type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js")
		script(type="text/javascript" src="../bower_components/jquery-form-styler/jquery.formstyler.min.js")
		script(type="text/javascript" src="../bower_components/slick-carousel/slick/slick.min.js")
		script(type="text/javascript" src="../bower_components/fancyBox/source/jquery.fancybox.pack.js")
		script(type="text/javascript" src="../bower_components/jquery-ui/jquery-ui.js")
		script(type="text/javascript" src="../scripts/jquery.ui.datepicker-ru.js")
		script(type="text/javascript" src="../scripts/main.js")
	body
		div.wrapper
			header
				div#logo: img(src="../img/logo.png")
				div#header-info
					p Доставка по Ростову-на-Дону и области
					a(href="tel:8 (863) 204-26-68") 8 (863) 204-26-68
				nav#menu
					ul
						li: a.ankor(href="#order") Заказать
						li: a(href="../html/production.html") Производство
						li: a(href="../html/contacts.html") Контакты
			main.content
				section.catalog-slide
					p Негазированная минеральная природная столовая вода
					h1 «Серебряная «Усть-Быстра»
					ul
						li.active
							div.row
								div.column
									ul.blocks
										li
											span Доставка напрямую от производителя
										li
											span Доставка по графику
									ul.advent-list
										li Содержит природные ионы йода и серебра.
										li. 
											Очищаем воду без обратного осмоса, 
											сохраняя все природные элементы, полезные для человека.
										li. 
											Скважина расположена
											в заповедной зоне Ростовской области.
								div.column
									img(src="../img/boutle1.png")
									span.price
										span 120
									div.birk
										span.
											Негазированная минеральная
											природная столовая вода
										p «Серебряная «Усть-Быстра»
						li
							div.row
								div.column
									img(src="../img/boutle2.png")
									span.price 160
									div.birk
										span Негазированная минеральная природная столовая вода
										p «Горная Серебряная»
								div.column
									ul.blocks
										li
											span Доставка напрямую от производителя
										li
											span Доставка по графику
									ul.advent-list
										li. 
											Относится к водам гидрокарбонатного натриево-кальциевого состава
											и полезна для взрослы и детей.
										li. 
											Очищаем воду без обратного осмоса, 
											сохраняя все природные элементы, полезные для человека.
										li. 
											Скважина расположена с биосферным заповедником 
											в Карачаево-Черкесской Республике.
				section.order#order
					h1 Заказать
					p Наш менеджер свяжется с вами в течение 30 минут
					form(method="POST")
						div.row
							div.column#form-order
								h1 Доставка
								div#checkbox
									input(type="radio" name="city" id="rostov" value="Ростов-на-Дону" checked="checked")
									label(for="rostov") Ростов-на-Дону
									input(type="radio" name="city" id="aksai" value="Аксай")
									label(for="aksai") Аксай
									input(type="radio" name="city" id="area" value="Область")
									label(for="area") Область
									input(type="radio" name="city" id="pickup" value="Самовывоз")
									label(for="pickup") Самовывоз
								div#adress-form.blocks
									div.inline
										input(type="text" name="street" placeholder="Улица")
										input(type="text" name="number" placeholder="Дом" maxlength="4")
										input(type="text" name="flat" placeholder="Кв." maxlength="4")
									div.flex
										input(type="text" name="phone" placeholder="Телефон" maxlength="15")
										a.date(href="#date") Укажите дату доставки
										input(type="text" name="date" value="")
									textarea(name="msg" placeholder="Дополнительная информация" maxlength="300")
								div#area-text.blocks
									p.
										Позвоните пожалуйста по телефону 8 (863) 266-10-04, #[br]
										чтобы уточнить условия доставки
								div#pickup-text.blocks
									p.
										Вы можете самостоятельно забрать воду по адресу: #[br]
										г. Ростов-на-Дону, ул. Павленко, 15 лит.  А #[br]
										(въезд с улицы Мечникова, 35)
							div.column#info
								p Не забудьте спросить у нашего менеджера:
								div.flex
									ul
										li Кулер
										li Помпу
										li Стаканодержатели
									ul
										li Стаканчики
										li Чехол на бутыль
								img(src="../img/avto.png")
						div.row
							div.column#calc
								ul
									li
										img(src="../img/min_boutle1.png")
										div.text
											span.
												Негазированная минеральная
												природная столовая вода
											p «Серебряная «Усть-Быстра»
										div.count
											div.manag
												span.plus +
												span.minus -
											input(type="text" name="count1" placeholder="0" value="0" maxlength="2" data-price="120")
											label шт.
									li
										img(src="../img/min_boutle2.png")
										div.text
											span.
												Негазированная минеральная
												природная столовая вода
											p «Горная Серебряная»
										div.count
											div.manag
												span.plus +
												span.minus -
											input(type="text" name="count2" placeholder="0" value="0" maxlength="2" data-price="160")
											label шт.
									li
										img(src="../img/min_boutle3.png")
										div.text
											p Ваша тара на обмен
											span.
												Поликарбонатная, чистая,#[br]
												без брака
										div.count
											div.manag
												span.plus +
												span.minus -
											input(type="text" name="count3" placeholder="0" value="0" maxlength="2")
											label шт.
							div.column#price
								p Сумма Заказа
								span 0
							input(type="submit" value="Заказать")
				section.cert
					ul
						li 
							a(href="../img/cert1.jpg" rel="galery")
								img(src="../img/cert1.jpg")
						li 
							a(href="../img/cert2.jpg" rel="galery")
								img(src="../img/cert2.jpg")
						li 
							a(href="../img/cert3.jpg" rel="galery")
								img(src="../img/cert3.jpg")
						li 
							a(href="../img/cert4.jpg" rel="galery")
								img(src="../img/cert4.jpg")
						li 
							a(href="../img/cert1.jpg" rel="galery")
								img(src="../img/cert1.jpg")
						li 
							a(href="../img/cert2.jpg" rel="galery")
								img(src="../img/cert2.jpg")
						li 
							a(href="../img/cert3.jpg" rel="galery")
								img(src="../img/cert3.jpg")
						li 
							a(href="../img/cert4.jpg" rel="galery")
								img(src="../img/cert4.jpg")
				section.advents
					h1 Хотите покупать воду дешевле?
					ul
						li
							a(href="../html/advents1.html")
								img(src="../img/hand.png")
								p Станьте нашим постоянным покупателем
						li
							a(href="../html/advents2.html")
								img(src="../img/bottles.png")
								p Покупайте воду оптом #[br] от … бутылей
						li
							a(href="../html/advents3.html")
								img(src="../img/car.png")
								p Заберите воду самостоятельно
					h2 Узнайте подробности по телефону: +7 (863) 204-26-68
			footer
				a(href="http://web-izmerenie.ru") Сделано в
			div.overlay
			section.module-window#menu-window
			section.module-window#advents-window
