section.insideAjax
	a(href="close")
	h1 Производство
	img(src="../img/video.jpg")
	div.description
		div.column
			h2 «Серебряная «Усть-Быстра»
			ul
				li
					img(src="../img/production1.jpg")
					div.text.
						Вода «Серебряная» добывается в 190 км
						от города. Скважина расположена в заповедной зоне Ростовской области примерно 1,5 км
						на юго-запад от станицы Усть-Быстрянская.
				li
					img(src="../img/production2.png")
					div.text.
						Вода добывается с глубины 75 метров и защищена несколькими слоями 
						природных фильтров: примерно 45-ти метровым слоем песка и гальки, 
						слоем синей глины, защищающей водоносный горизонт, и мергелем, 
						которые очищает и смягчает воду. 
		div.column
			h2 «Горная Серебряная»
			ul
				li
					img(src="../img/production3.png")
					div.text.
						Вода добывается в природной зоне в долине
						реки Аксаут из скважины №7, расположенной
						на северном склоне Главного Кавказского хребта между высокогорным курортом Домбай
						и Архызским участком Тебердинского государственного биосферного заповедника
						на Кардоникском месторождении подземных вод.
				li
					img(src="../img/production4.png")
					div.text.
						Вода добывается с глубины 40 метров и защищена валунно-галечными 
						отложениями, которые также являются природным фильтром.
	div.advent
		ul
			li
				img(src="../img/production5.png")
				div.text.
					Минеральная
					питьевая вода проходит щадящую систему фильтрации без применения 
					метода обратного осмоса. Все природные микроэлементы, в том числе 
					ионы йода и серебра, сохраняются, делая воду полезной для организма.
			li
				img(src="../img/production6.png")
				div.text.
					Для производства питьевой столовой воды используется автоматическая система подачи
					и розлива. Всего за 10 минут вода попадает
					из скважины в предварительно обеззараженную бутыль, поэтому она остается максимально полезной и безопасной для вас. 
