head
	script(type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js")
	script(type="text/javascript" src="../scripts/ajaxPage.js")
body
	section.wrap
		a(class="close" href="#close")
		h1 Заберите воду самостоятельно
		ul
			li
				img(src="../img/point.png")
				div.text
					h2 Опт. Самовывоз с завода ООО «Быстра»
				div.more-text
					p.
						Адрес: Ростовская область, Усть-Донецкий р-н, примерно в 1,5 км 
						по направлению на Юго-Запад от ст. Усть-Быстрянская
					br
					p
						b «Серебряная» Усть-Быстра» — 40 руб. 00 коп.*
			li
				img(src="../img/point.png")
				div.text
					h2 Розница. Самовывоз со склада ООО «Быстра»
				div.more-text
					p.
						Адрес: г. Ростов-на-Дону, ул. Мечникова 35
						(территория завода РТИ)
					br
					p
						b. «Серебряная» Усть-Быстра» — от 55 руб. до 85 руб.*
							«Горная» — от 75 руб. до 100 руб.*
			li
				img(src="../img/point.png")
				div.text
					h2 Розница. Самовывоз с водных павильонов
				div.more-text
					p.
						Адреса: #[br]
						г. Ростов-на-Дону, ул. Борко, д.7/1 #[br]
						г. Ростов-на-Дону, ул. Оганова, 7 #[br]
					br
					p
						i * — цена зависит от объёма заказа.
			li
				img(src="../img/call.png")
				div.text.
					Уточните цену и условия услуги у нашего менеджера #[br]
					по телефону #[b 8 (863) 204-26-68]
